header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(73, 138, 138, 0.974);
    border-bottom: 10px solid #000;
    padding-top: 10px 20px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Fira Code", sans-serif, Arial;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;

}

a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button:hover{
    display: inline-block;
    background-color: rgb(28, 79, 104);   
    text-decoration: none;    
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    padding: 18px 20px;
    margin: 15px;
    border-radius: 5px;

}

img{
    height: 60px;
    width: 60px;
    margin: 15px;
    border-radius: 20%;
}