img{
    height: 60px;
    width: 60px;
    margin: 15px;
    border-radius: 20%;
}

.imagem-usuario{    
    height: 900px;
    width: 100%;
    position: absolute;
    background: url("../img/usuario.jpeg") no-repeat ;
    background-size: cover;   
}












