.main-title{
    font-family: 'Fira Code', sans-serif;
    font-size: 30px;
    color: rgb(243, 235, 235);
    text-shadow: 2px 2px 0 #000;  
}

.main-title.-second{    
    color: #fff;
    text-shadow: none;
    text-align: center;
}
